@import 'core/variables';
@import 'components/header';
@import 'components/main';
@import 'components/footer';

* {
  margin: 0;
}

.page {
  &-container {
    height: 100vh;
    background-image: url('../images/chinese-background-3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-title {
    padding: 20px 0;
    font-family: $fontTitle;
    color: $primaryColor;
  }
}

.cookie {
  &-container {
  }
  &-img {
    animation-name: jump;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    &:hover {
      cursor: pointer;
    }
  }
}

.css-cookie-quote-container {
  color: $quoteColorDefault;
  height: 100px;
}

.css-cookie-quote {
  margin: 20px 0;
  padding: 10px 30px;
  font-size: 24px;
  background-color: $paperColor;
  box-shadow: 3px 3px 5px $shadow;
  animation-name: appear;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  transition: ease 0.5s;
}

.update-color-quote {
  color: $quoteColorUpdate;
}

// animations

@keyframes jump {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(25deg);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
