@import 'core/variables';
@import 'components/header';
@import 'components/main';
@import 'components/footer';

* {
  margin: 0;
}

.page {
  &-container {
    height: 100vh;
    background-image: url('../images/chinese-background-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-title {
    color: gold;
  }
}

.cookie {
  &-container {
  }
  &-img {
    animation-name: jump;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transition: transform ease 0.3s;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}

.css-cookie-quote {
  height: 50px;
  color: gold;
  font-size: 24px;
}

// animations

@keyframes jump {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(25deg);
  }
}
