<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700,900&display=swap" rel="stylesheet" />
    <title>Fortune Cookie</title>
  </head>
  <body>
    <main class="container">
      <h1 class="title">Adivina el número</h1>
      <form class="form" action="">
        <label for="introduce-number">Introduce aquí tu número:</label>
        <input class="input__guess-number js-input-number" id="introduce-number" type="text" name="user-number" value="" />

        <button class="js-input-btn">Prueba</button>

        <input class="input__clue" type="text" name="clue" value="" placeholder="Pista: Escribe el número y dale a prueba." />

        <input class="input__tries" type="text" name="tries" value="" placeholder="Número de intentos: 0" />
      </form>
    </main>
    <script type="text/javascript" src="../assets/js/main.js"></script>
  </body>
</html>
