<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700,900&display=swap" rel="stylesheet" />
    <title>Fortune Cookie</title>
  </head>
  <body>
    <main class="page-container">
      <h1 class="page-title">Fortune Cookie</h1>
      <div class="cookie-container">
        <img class="cookie-img" src="../assets/images/cookie-1.png" height="200px" />
      </div>
    </main>
    <script type="text/javascript" src="../assets/js/main.js"></script>
  </body>
</html>
